@import "src/constants/global";

$button-bg: $primary-color;
$button-text-color: $default-color;

$back-image-after: ();
$back-size-after: ();

@for $i from 1 through 9 {
  $circle: null;

  @if $i == 2 {
    $circle: radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%);
  } @else if ($i == 5) {
    $circle: radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%);
  } @else {
    $circle: radial-gradient(circle, $button-bg 20%, transparent 20%);
  }
  $circle-size-x: random(31);
  $circle-s: $circle-size-x + px $circle-size-x + px;

  $back-image-after: append($back-image-after, $circle, comma);
  $back-size-after: append($back-size-after, $circle-s, comma);
}

$back-image-before: ();
$back-size-before: ();

@for $i from 1 through 9 {
  $circle: null;

  @if $i == 3 {
    $circle: radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%);
  } @else if ($i == 15) {
    $circle: radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%);
  } @else {
    $circle: radial-gradient(circle, $button-bg 20%, transparent 20%);
  }
  $circle-size-x: random(31);
  $circle-s: $circle-size-x + px $circle-size-x + px;
  $back-image-before: append($back-image-before, $circle, comma);
  $back-size-before: append($back-size-before, $circle-s, comma);
}

.bubbly-button {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1em 2em;
  font-size: 1em;
  color: $button-text-color;
  background-color: $button-bg;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 25px $primary-color-shadow;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  cursor: pointer;
  appearance: none;

  &:focus {
    outline: 0;
  }

  &:before, &:after {
    position: absolute;
    left: -20%;
    z-index: 30;
    display: block;
    width: 140%;
    height: 100%;
    transition: all ease-in-out 0.5s;
    content: '';
    background-repeat: no-repeat;
  }

  &:before {
    top: -75%;
    display: none;
    background-image: $back-image-after;
    background-size: $back-size-after;
  }

  &:after {
    bottom: -75%;
    display: none;
    background-image: $back-image-before;
    background-size: $back-size-before;
  }

  &:active {
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px $primary-color-shadow-active;
    transform: scale(0.9);
  }

  &.animate {

    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }

    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {

  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0 80%, 0 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}

  100% {
    background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0 0, 0 0,  0 0,  0 0,  0 0,  0 0;
  }
}

@keyframes bottomBubbles {

  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0;}

  100% {
    background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0 0, 0 0,  0 0,  0 0,  0 0,  0 0;
  }
}
