$default-color: #ffffff;
$primary-color: #009C76;
$primary-color-shadow:#009C7688;
$primary-color-shadow-active:#009C7633;
$secondary-color: #00BC8C;
$border-color: #505050;
$card-color: #303030;
$border-radius: 10px;
$padding: 10px;
$arrow-endings: 14px;
$arrow-padding: 10px;
$arrow-padding-tablet: 2px;
$arrow-color: $primary-color;
